tr[data-payoutPercentage="false"] {
    color: green;
}

tr[data-payoutPercentage="true"] {
    color: blue;
}

a {
    text-decoration: none;  /* links without underlines */
}

select {
    width: 200px;
}

::placeholder {
    font-style: italic;
    color: lightgray;
}

.asterisk{
    color: red;
}

table {
    width: 100%;
    /*border-color: red;*/
}

.forms {
    width: 100%;
}

.forms th {
    width: 50%;
    text-align: right;
    border: 0;
    padding: 5px;
    border-spacing: 0;
}

.test {
    color: orange;
}
