tr[data-payoutPercentage="false"] {
    color: green;
    background-color: #D3FAC3;
}

tr[data-payoutPercentage="true"] {
    color: royalblue;
    background-color: #D1E8F9;
}

a {
    text-decoration: none;  /* links without underlines */
}

select {
    width: 200px;
}

::placeholder {
    font-style: italic;
    color: lightgray;
}

.asterisk{
    color: red;
}

table {
    width: 100%;
    font: normal small-caps 13px/14px Arial, serif;
    border: 1px;
    /*border-color: red;*/
}

th {
    background-color: gainsboro;
    padding: 5px;
}

td {
    padding: 5px;
}

tr:hover {
    background-color: #F9F5D1;
    font-weight: bold;
}

.forms {
    width: 100%;
}

.forms th {
    width: 50%;
    text-align: right;
    border: 0;
    padding: 5px;
    border-spacing: 0;
}

body {
    font: normal small-caps 13px/14px Arial, serif;
    background-color: cadetblue;
}
